.header-head {
    background-image: url('../resources/Banner\ Image.png');
    width: 1320px;
    height: 600px;
    margin: 50px 140px 100px 100px;
}

.head-title {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}

.head-description {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

.head-another-b {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48;
}

.another-description {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.another-title {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 0;
}

.head-another img {
    width: 802.9px;
    height: 500px;
    margin-left: 375px;
}

.welcome-party {
    display: flex;
    background-image: url('../resources/Vectorrr.png');
    background-color: linear-gradient(90deg, #070211 0%, rgb(7, 2, 17) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1320px;
    height: 600px;
    margin-left: 100px;
    margin-top: 100px;
}

.party-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    width: 642px;
}

.party-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 697px;
}

.welcome-party button {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
}

.Party-column {
    padding: 126px;
}

.welcome-party img {
    padding-top: 70px;
    padding-right: 135px;
    width: 320px;
    height: 460px;
    /* fill: radial-gradient(50% 50% at 50% 50%, #690B02 27%, #8F4941 39%, #B18079 51%, #CDADA8 62%, #E3D1CD 73%, #F2EAE7 84%, #FCFAF6 93%, #FFFFFC 100%);
    background-blend-mode: multiply;
    mix-blend-mode: multiply; */
}

/* invite section */
.invite .left {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    /* 175% */
    text-transform: capitalize;
}

.invite .right {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.invitation {
    text-align: center;
    height: 168px;
    width: 550px;
    padding: 100px 385px 210px 385px;
}

.invite button {
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 8px;
    background: #F00;

    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.invite {
    width: 1320px;
    height: 482px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin-left: 100px;
    border-radius: 15px;
    margin-top: 120px;
}

.functional-title{
    color: #070211;
font-family: Inter;
font-size: 24px;
font-weight: 500;
}
.holiday{
    color: #070211;
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
}
.holi{
    color: #F00;
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
}
.functional-part{
    background-image: url('../resources/Rectangle\ 2.png');
    background-position: bottom;
    background-size: contain;
    background-repeat:no-repeat;
    display: flex;
}
#dhamaka{
    /* position: absolute; */
}


/* footer-section-styles */
